<h2>Scan QR to Pay (NETS)</h2>
<p>Total: $<%= totalAmount.toFixed(2) %></p>
<img src="<%= qrImage %>" />
<br><br>
<a href="/check-payment" class="btn btn-success">I Have Paid</a>
<a href="/checkout" class="btn btn-secondary">Cancel Payment</a>