<!DOCTYPE html>
<html>
<head>
    <title>Transaction Successful</title>
</head>
<body>
    <h1><%= message || "Payment Successful" %></h1>
    <p>Thank you for your payment!</p>
    <img src="/images/greenTick.png" width="20%" /><br />

    <a href="/shopping">Continue Shopping</a>
</body>
</html>
